@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

body {
    font-family: Montserrat;
}

button {
    outline: none !important;
}

.section-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 25% 75%;
    grid-template-rows: 15% 85%;
}

.logo {
    background: var(--primary-color);
    grid-area: 1 / 1 /2 /2;
}

.logo img {
    margin-top: 30px;
    margin-left: 20px;
    background-size: cover;
}

.left-sidebar {
    background: var(--primary-color);
    color: var(--secondary-color);
    grid-area: 2 / 1 /2 /2;
}

.main-section {
    background: var(--bg-color);
    color: var(--secondary-color);
    grid-area: 1 / 2 /3 /3;
    color: var(--primary-color);
    text-align: center;
}

.carousel {
    position: relative;
    margin: auto;
    height: 100vh;
    width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 55px;
    height: 55px;
}

/* Post */

.post {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #000000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
.post a{
    text-decoration: none;
    color: white;
}

.overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background: var(--primary-color);
    color: #FEF5DF;
    opacity: 0;
    transition: all 0.5s;
    text-align: center;
}

.items {
    letter-spacing: 3px;
}

.head {
    font-size: 30px;
    line-height: 40px;
    transform: translateY(40px);
    transition: all 0.7s;
}


.details {
    display: inline-block;
    font-size: 16px;
    line-height: 2px;
    letter-spacing: 2px;
    font-weight: 100;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
}

.upvotes {
    margin-top: 30px;
}

.share {
    font-size: 12px;
    opacity: 0;
    letter-spacing: 1px;
    transform: translateY(40px);
    transition: all 0.7s;
}

.share i {
    font-size: 16px;
}


.post:hover .overlay {
    opacity: 0.8;
}

.post:hover .overlay .head {
    transform: translateY(0px);
}


.post:hover .overlay .details {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
}

.post:hover .overlay .share {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
}